.weather-card {
  padding: 1.5rem;
  max-width: 100%;
  gap: 1rem;

  text-align: center;
}

.header {
  align-items: center;
  color: white;

  margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

.header span {
  font-size: 0.85rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.main img {
  width: 100px;
  height: 100px;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.current {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
}

.minmax {
  font-size: 1rem;
  color: #ffffff;
}

.desc {
  margin-top: 0.5rem;
  font-style: italic;
  color: #ffffff;
}