div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

input {
  width: 80%;
  padding: 0.70rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #0078d4;
}

select {
  margin-left: 00;
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  outline: none;
  transition: border-color 0.2s;
 
}


option {
  background-color: white;
  color: black;
}

.error {
  color: #d32f2f;
  margin-top: 0.5rem;
  font-size: 0.95rem;
}